---
const links = [
    { href: "/", text: "List" },
    { href: "/pokemons/1/", text: "Paginated" },
    { href: "/favorites/", text: "Favorites" },
    { href: "/islands/", text: "Islands" },
];

const currentPath = Astro.url.pathname;
console.log("🚀 ~ currentPath:", currentPath);
---

<nav class="bg-white shadow dark:bg-slate-800">
    <div
        class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
    >
        {
            links.map(({ href, text }) => (
                <div>
                    <a
                    href={href}
                    class="text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6"
                >
                    {text}
                </a>
                {currentPath === href ? (<div 
                transition:name="menu-line"
                class="border-b-2 border-blue-500 mx-3"></div>)
            :   (<div class="border-b-2 border-transparent"></div>)}
                
                </div>
            ))
        }
         <!-- {
            links.map(({ href, text }) => (
                <a
                    href={href}
                    class:list={[
                        'text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6',
                        [currentPath === href && 'border-b-2 border-blue-500']
                    ]}
                >
                    {text}
                </a>
            ))
        } -->
    </div>
</nav>

<script>
    function sum() {
        
    }
</script>